body {
    font-family: 'Playfair Display', serif;
    margin: 50px 50px 0 50px ;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
.main {
    flex: 1;
}
h1 {
    font-size: 3rem;
}
footer {
    text-align: right;
    color: midnightblue;
    font-size: 11px;
}
.tile-image {
    height: 200px;
    float: left;
    margin-right: 50px;
}

.logo {
    height: 110px;
    width: 150px;
}

.card {
    width: 45%;
}
.left {
    float: left;
}

.right {
    float: right;
}
.creative {
    color: #de3636 ;
}

 @media (max-width:600px) {
    .logo {
        width: 100px;
    }
    h1 {
        font-size: 3.5rem;
        text-align: center;
    }
    .card {
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }
    .card img {
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
}


/* @media (max-width: 680px) {
    .logo {
      width: 100px ;
    }
  
    h1 {
    font-size: 3.5rem;
    text-align: center;
    }
    .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
    }
    .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
    }
  }
  */
  